# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures

# Node
node_modules/
.env
.env.*.local

# macOS
.DS_Store

# Logs
logs
*.log

# System Files
Thumbs.db
ehthumbs.db
